<div class="mb-2">
  <img src="/img/frb/temp_pay_debt.png" width="100%" height="131.8">
</div>

<!-- <h2>Pay down debt</h2> -->
<p>The best way to pay off debt is to pay more than the minimum each month. The more you pay toward your loans,
the less interest you’ll owe — and the quicker the balance will disappear.</p>

<div class="madlib d-flex">
  Help me pay off
    <div class="btn-group">
      <a class="btn dropdown-toggle dotted-btn" data-toggle="dropdown" href="#" data-var-selected="Debt_Type_FRB|credit card">credit card</span></a>
      <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item" data-taffrail-var="Debt_Type_FRB" data-var-value="credit card">credit card</a></li>
        <li><a href="#" class="dropdown-item" data-taffrail-var="Debt_Type_FRB" data-var-value="student loan">student loan</a></li>
        <li><a href="#" class="dropdown-item">other</a></li>
      </ul>
    </div>
  debt.
</div>

<p class="mt-5 mb-2"><a href="/frb/goal-planning/goals/taffrail/JU5DZn-v5x1Pc8dasRn1UXk?Debt_Type_FRB=credit%20card" class="get-started btn btn-block btn-outline-primary">Get started</a></p>
<p class="mt-5 mb-2"><a href="/frb/goal-planning/goals/taffrail/JU5lUXFbzWeilgzpmxrS9jT?Debt_Type=credit%20card" class="get-started btn btn-sm btn-block btn-outline-primary">Get started (lite)</a></p>
