<div class="mb-2 mt-3">
  <img src="/img/frb/temp_save_retirement.png" width="100%" height="126.63">
</div>

<!-- <h2>Save for Retirement</h2> -->
<p>The typical advice is that you should aim to replace 70% to 90% of your annual pre-retirement income through savings and
Social Security. For example, a retiree who earns an average of $63,000 per year before retirement should expect to need
$44,000 to $57,000 per year in retirement.</p>

  <p class="mt-5 mb-2"><a
      href="/frb/goal-planning/goals/taffrail/JUGzB62H3ERLF4P_TJ9ObJs"
      class="get-started btn btn-block btn-outline-primary">Save for retirement</a></p>

      <hr>
  <p class="mt-5 mb-2"><a
      href="/frb/goal-planning/goals/taffrail/JUhNUe4x5dNezRP1q5cNY4g"
      class="get-started btn btn-sm btn-block btn-outline-primary">I have a 401(k)</a></p>

  <hr>

  <p>If you've already maximized your employer-sponsored 401(k), consider opening an IRA.</p>

  <p class="mt-1 mb-2"><a
      href="/frb/goal-planning/goals/taffrail/JUYUuNiqaBZJyNQOOmChLuy?Employer_Plan_for_Self%3F=true"
      class="get-started btn btn-sm btn-block btn-outline-primary">Explore IRA options</a></p>

  
  <hr>

  <p>If you do not have an employer-sponsored 401(k), an IRA is still an option.</p>

  <p class="mt-1 mb-2"><a href="/frb/goal-planning/goals/taffrail/JUYUuNiqaBZJyNQOOmChLuy?Employer_Plan_for_Self%3F=false"
      class="get-started btn btn-sm btn-block btn-outline-primary">Explore IRA options</a></p>

<!--
<ul>
  <li><a href="/frb/goal-planning/taffrail/JUpiGfEDTHNwejiELgpJlQp" class="">Get started</a></li>
</ul>
-->
