
<h1 class="text-brand text-white"><%= locals.greeting %></h1>

<div class="card rounded-0">
  <div class="card-body">
    <h6 class="card-title text-secondary">CHECKING, SAVINGS & CDS</h6>
    <div class="d-flex justify-content-between">
      <p class="card-text"><strong>TOTAL</strong></p>
      <h5 class="card-text"><strong>$12,345</strong></h5>
    </div>
  </div>
</div>

<div class="card rounded-0 mt-1">
  <div class="card-body">
    <h6 class="card-title text-secondary">LINE OF CREDIT</h6>
    <div class="d-flex justify-content-between">
      <p class="card-text"><strong>TOTAL</strong></p>
      <h5 class="card-text"><strong>$6,879</strong></h5>
    </div>
  </div>
</div>

<div class="card rounded-0 mt-1 card-goalplanner">
  <div class="card-body">
    <h6 class="card-title text-primary">GOAL OPTIMIZER</h6>
    <div class="d-flex justify-content-between">
      <p class="card-text">
        <i class="fal fa-lightbulb-on"></i> Try our new goal optimizer. Our app can assess your financial wellness 
        and give you insights & recommendations to make your goals a reality. 
        <a href="./goal-planning/start" class="stretched-link">Start here <i class="fal fa-chevron-double-right"></i></a></p>
    </div>
  </div>
</div>

<div class="card rounded-0 mt-1">
  <div class="card-body">
    <h6 class="card-title text-secondary">LOANS</h6>
    <div class="d-flex justify-content-between">
      <p class="card-text"><strong>TOTAL</strong></p>
      <h5 class="card-text"><strong>$6,879</strong></h5>
    </div>
  </div>
</div>

<div class="card rounded-0 mt-1">
  <div class="card-body">
    <h6 class="card-title text-secondary">OPEN ACCOUNT</h6>
    <div class="d-flex justify-content-between">
      <p class="card-text"><i class="fal fa-plus-circle"></i> Open a new account today</p>
    </div>
  </div>
</div>

