// use green as primary color to show alternate appearance
// https://coolors.co/003d21-1a4301-245501-538d22-73a942-aad576

$primary_mobile: #003D21;
$primary_mobile_dark: #053B06;
$primary_mobile_light: #002916;

&.showcase--advice_mobile {
  // on phones, just show the phone interface!
  @media (max-width: 812px) {
    #toastWrapper {
      display: none;
      z-index: -1;
    }

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    background-color: transparent;
    padding-top: 0;

    .banner {
      box-shadow: none;
      height: 3rem;
      padding: 0.5rem 0;
      position: static;

      img {
        height: 18px;
      }
    }

    .advice > .continue.screen-edge-padding {
      padding-left: 0 !important;
      top: .7rem;
    }

    main.container {
      flex: 1;
      height: 100%;

      > header.row {
        display: none;
      }

      .left-intro {
        display: none;
      }

      .right-pane {
        padding: 0;
      }

      > header + .row {
        display: block;
      }

      .phone {
        all: unset;
        height: 100%;
        position: static;
        width: 100%;

        section.screenarea {
          all: unset;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: stretch;
          min-height: 78vh;

          main.screen {
            all: unset;
            flex: 1;
          }

          header.title {
            margin-top: 1rem;
          }

          .action-assumptions {
            padding-left: 30px;
            top: .8rem;
          }
        }
      }
    }

    footer.footer {
      display: none;
    }
  }

  .bg-stripes {
    background: $primary_mobile none;
    background-size: 70%;
  }

  .demo-nav {
    .active {
      background-color: $primary_mobile;
    }
  }

  .answers-chat-bubbles {
    display: none;
  }

  .advice > .continue {
    left: .5rem;
    padding-left: 0;
    position: absolute;
    top: .3rem;
  }

  main {
    a {
      color: $primary_mobile;
    }
  }

  .phone {
    background: transparent url("/img/iPhonex@2x.png") top left no-repeat;
    background-size: 58%;
    height: 720px;
    margin-top: 1rem;
    position: relative;
    width: 640px;

    section.screenarea {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      height: 643px;
      left: 30px;
      max-height: 643px;
      position: absolute;
      top: 48px;
      width: 309px;

      main.screen {
        font-size: 85%;
        height: 100%;
        max-height: 100%;
        overflow: auto;
        position: relative;
        padding: .25rem 0;
      }

      header.title {
        font-weight: bold;
        margin: .25rem 0 .75rem 0;
        text-align: center;
      }

      .action-assumptions {
        display: block;
        font-size: $font-size-lg;
        position: absolute;
        right: .5rem;
        top: .3rem;
        z-index: $zindex-fixed - 2;
      }

      .recommendation-title {
        border-top: 2px solid $primary_mobile;
        margin-top: 1rem;
        padding-top: .5rem;

        h6 {
          margin-bottom: 0;
        }
      }

      .screen-edge-padding  {
        padding: 0 .5rem;
      }

      .fa-ul {
        margin-left: 2rem;
      }

      .advice {
        .question {
          margin-bottom: 2rem;
        }
      }

      .advice-attachment {
        margin-right: 0;
  
        &.advice-chart--interactive {
          margin-left: -2.5rem;
        }
      }

      footer.tabbar {
        align-items: center;
        background-color: #fff;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top: 1px solid $gray-200;
        display: flex;
        height: 50px;
        justify-content: space-evenly;
        z-index: $zindex-fixed;

        a {
          color: $gray-600;
          font-size: $font-size-lg;
          opacity: .7;
          text-align: center;
          width: (100% - 25) / 4;

          &:not(:first-child) {
            cursor: not-allowed;
          }
        }

        .center {
          color: $primary_mobile;
          font-size: 150%;
          width: 25%;
        }
      }

      .sheet {
        background-color: #fff;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        box-shadow: 0 -6px 5px rgba(0,0,0,0.175); // top only
        height: 0;
        opacity: 0;
        overflow: auto;
        position: absolute;
        top: 100%;
        transition: all .3s;
        width: 100%;
        z-index: $zindex-fixed - 1;

        &.show {
          height: 90%;
          opacity: 1;
          top: 1.3rem;
        }

        &.screen-edge-padding {
          padding: 0 1rem !important;
        }

        header {
          align-items: baseline;
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
        }
      }
    }
  }

  .advice {
    .question {
      .lead {
        font-size: $font-size-base;
        line-height: 1.3rem;
      }

      header {
        align-items: baseline;

        h5 {
          margin-bottom: 0;
        }
      }

      .form-check-label .form-text {
        color: $gray-600;
        font-size: 75%;
        line-height: 1rem;
      }
    }
  }

  .assumption-group {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;

    a {
      color: $body-color;
    }
  }

  .assumptions {
    ol {
      list-style-type: decimal;
      padding-left: 1.5rem;
    }

    li {
      border-radius: $border-radius;
      color: $gray-600;
      margin-bottom: .25rem;
      padding: .15rem 0;

      &.active,
      &:hover {
        background-color: $gray-100;
      }

      a {
        text-decoration: none;
      }
    }

    .q,
    .statement {
      font-weight: bold;
    }
  }

  .btn-primary {
    background-color: $primary_mobile;
    border-color: $primary_mobile;
    color: $white;
    -webkit-text-fill-color: $white;

    &:hover {
      background-color: $primary_mobile_dark;
      border-color: $primary_mobile_dark;
    }
  }

  .form-control {
    &:focus {
      border-color: $primary_mobile_light;
      box-shadow: 0 0 0 0.2rem rgba($primary_mobile, .25);
    }
  }

  .form-check {
    padding-left: 0;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      &[type='radio'] {
        &:checked,
        &:not(:checked) {
          left: -9999px;
          position: absolute;

          + label {
            @extend .btn;
            @extend .btn-block;
            @extend .btn-outline-primary;
            border-color: $primary_mobile !important;
            color: $primary_mobile;
            
            cursor: pointer;

            &:hover {
              background-color: $primary_mobile !important;
              border-color: $primary_mobile !important;
              -webkit-text-fill-color: $white;

              .form-text {
                color: #fff;
                font-size: 75%;
                line-height: 1rem;
              }
            }
          }
        }

        &:checked + label {
          @extend .active;
          background-color: $primary_mobile !important;
          border-color: $primary_mobile !important;
          -webkit-text-fill-color: $white;
        }
      }
    }
  }
}