@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import '../../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/duotone';


.showcase {
  &.showcase--advice {
    background: $gray-300;

    .banner {
      align-items: center;
      box-shadow: $dropdown-box-shadow;
      display: flex;
      height: 5rem;
      padding: .5rem;
    }

    .bg-stripes {
      background: $primary url('/img/slashes.png') right center no-repeat;
      background-size: 70%;
    }

    .advice-set-details {
      h1 {
        font-weight: 900; //heavy
      }
    }

    .advice-container {
      padding: .5rem;

    }

    .variables-container {
      font-family: monospace;
      font-size: 90%;
      margin-top: 2rem;
      padding: .25rem;
    }
  }
}
