@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import '../../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/duotone';

@import 'loading';

.showcase {
  &.showcase--advice {
    background: $gray-300;

    .banner {
      align-items: center;
      box-shadow: $dropdown-box-shadow;
      display: flex;
      height: 5rem;
      padding: .5rem ($grid-gutter-width/2);
    }

    .bg-stripes {
      background: $primary url('/img/slashes.png') right center no-repeat;
      background-size: 70%;
    }

    .advice-set-details {
      .by {
        color: $gray-600;
        font-size: $font-size-sm;
      }

      h1 {
        font-weight: 900; //heavy
      }

      .tagged,
      .refdocs {
        font-size: $font-size-sm;
      }
    }

    // main pane
    .advice {
      .icon-row {
        margin-bottom: .5rem;

        .btn-light {
          margin-left: .25rem;
        }
      }

      form {
        padding: .5rem;

        .custom-control {
          border: 1px solid #fff;
          border-radius: $border-radius;
          margin-bottom: .5rem;

          label {
            width: 100%;
          }
        }
      }
    }

    .advice-container {
      padding: .5rem;
    }

    .assumptions-container {
      font-size: 11px;
      margin-left: 1px;
      margin-top: 2.5rem;
      padding: .5rem .25rem;

      .answers,
      .answersByVariable {
        li {
          border-radius: $border-radius;
          margin-bottom: .5rem;
          padding: .25rem;

          &:hover {
            background-color: $gray-100;
          }
        }

        .q {
          font-weight: bold;
        }
      }

      .answersByVariable {
        li {
          display: flex;
        }
      }

      .variables {
        font-family: $font-family-monospace;
        font-size: 10px;
      }
    }
  }
}
