@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import '../../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/light';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/duotone';
@import '../../node_modules/@fortawesome/fontawesome-pro/scss/brands';

@import 'loading';

html, body {
  height: 100%;
  margin: 0;
}

#toastWrapper {
  min-height: 200px;
  min-width: 320px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 9999999;

  #toastContainer {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.text-sm {
  font-size: $font-size-sm;
}

.showcase {
  
  $footer-height: 4rem;

  @import "showcase";
  @import "showcase_mobile";
  @import "showcase_virtual_asst";

  .push {
    height: $footer-height;
  }

  footer {
    &.footer {
      height: $footer-height;
      // line-height: 1rem;
      background: $gray-300;
    }

    hr {
      border-top-color: $gray-400;
      margin-top: 0;
    }

    section {
      color: $gray-500;
      font-size: 11px;
      text-align: right;

      p {
        margin-bottom: 0;
      }

      a {
        color: $gray-500;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
