// use blue as primary color to show alternate appearance
// https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

$primary_mobile_asst: #1D3557;
$primary_mobile_asst_dark: #14253D;
$primary_mobile_asst_light: #457B9D;
$them-bg-color: #E5E5EA;
// $me-bg-color: #0B93F6;
$me-bg-color: $primary_mobile_asst_light;

main {
	a {
		color: $primary_mobile_asst;
	}
}

.menubar .dropdown-item {
	&.active,
	&:active {
		background-color: $primary_mobile_asst;
		color: $white;
	}
}

&.uxmode-asst {
	.changing > .continue {
		display: none;
	}

	.changing {
		margin-bottom: 1rem;
	}

	.action-assumptions {
		display: none !important;
	}

	// cribbed from https://codepen.io/samuelkraft/pen/Farhl
	.bubble {
		max-width: 245px;
		word-wrap: break-word;
		margin-bottom: 12px;
		line-height: 24px;
		position:relative;
		padding:10px 20px;
		border-radius:25px;
		
		&:before, &:after {
			content:"";
			position:absolute;
			bottom:-2px;
			height:20px;
		}
	}

	.from-them {
		background: $them-bg-color;
		color: black;

		h5 {
			font-size: $font-size-base;
		}
			
		&:before {
			left: -7px;
			border-left: 20px solid $them-bg-color;
			border-bottom-right-radius: 16px 14px;
			transform: translate(0, -2px);
		}

		&:after {
			left: 4px;
			width: 26px;
			background: white;
			border-bottom-right-radius: 10px;
			transform: translate(-30px, -2px);
		}
	}

	.from-me {
		align-self: flex-end;
		background: $me-bg-color;
		color: white;
		margin-left: auto;
		text-align: right;

		a {
			color: $white;
		}
			
		&:before {
			border-right: 20px solid $me-bg-color;
			border-bottom-left-radius: 16px 14px;
			transform: translate(0, -2px);
			right: -7px;
		}

		&:after {
			background: white;
			border-bottom-left-radius: 10px;
			right: -56px;
			transform: translate(-30px, -2px);
			width: 26px;
		}
	}

	.answers-chat-bubbles {
		display: block;
	}

	.phone {
		section.screenarea {
			main.screen {
				.title {
					max-width: 100%;
				}
				
				.question {
					background-color: $white;
					
					header {
						@extend .bubble;
						@extend .from-them;
					}
	
					header + hr {
						display: none;
					}
	
					.lead {
						font-size: 90%;
						line-height: 1rem;
					}
	
					.form-check {
						input[type='radio'] {
							&:checked,
							&:not(:checked) {
								all: unset;
	
								+ label {
									all: unset;
								}
							}
						}
					}
	
					form {
						.form-text {
							display: none;
						}
	
						&.type-Boolean,
						&.type-Radio {
							.form-group {
								@extend .bubble;
								@extend .from-me;
	
								input[type='radio'] {
									&:checked,
									&:not(:checked) {
										+ label {
											cursor: pointer;
											background-color: transparent;
											border-radius: $border-radius;
											display: block;
											padding: 0 1rem 0 0;
											text-align: right;
											width: 100%;
	
											&:hover,
											&:active {
												background-color: $primary_mobile_asst !important;
												-webkit-text-fill-color: $white;
											}
										}
									}
	
									&:checked + label {
										@extend .active;
										background-color: $me-bg-color !important;
										border-color: $me-bg-color !important;
										-webkit-text-fill-color: $white;
									}
								}
							}
						}
	
						&.type-Number,
						&.type-Percent {
							display: flex;
							justify-content: flex-end;
	
							.form-group {
								margin-bottom: 0;
							}
	
							.form-control {
								&:focus {
									border-color: $me-bg-color;
									box-shadow: 0 0 0 0.2rem rgba($me-bg-color, .25);
								}
							}
						}
					}
					
					.continue {
						margin-left: .5rem;
						text-align: right;
	
						button {
							-webkit-text-fill-color: $white;
							@extend %fa-icon;
							@extend .fal;
							background-color: $me-bg-color;
							border-color: $me-bg-color;
							border-radius: 50%;
							font-size: $font-size-lg;
							width: 36px;
							height: 36px;
							
							&:focus {
								border-color: $me-bg-color;
								box-shadow: 0 0 0 0.2rem rgba($me-bg-color, .25);
							}
	
							&:before {
								color: $white;
								content: fa-content($fa-var-arrow-up);
							}
	
							span {
								display: none;
							}
						}
					}
				}
			}

			.recommendation-title {
				border-color: $primary_mobile_asst;
			}

			footer.tabbar {
				.center {
					color: $primary_mobile_asst_dark;
				}
			}
		}
	}
}