<script id="tmpl_answersList" type="text/x-handlebars-template">
	<p class="mb-1">Change answers and personalized recommendations will update.</p>
	<div class="assumption-controls">
		<a id="pills-assumptions-tab" data-toggle="pill" href="#pills-assumptions" role="tab" aria-controls="pills-assumptions" aria-selected="false">View as assumptions</a>.
	</div>

	<ol class="answers">
		{{#each answers}}
			<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
				<div class="q">{{question}}</div>
				<div class="a"><a href="#" class="stretched-link">{{#if answer}}{{answer}}{{else}}{{value}}{{/if}}</a></div>
			</li>
		{{/each}}
	</ol>
</script>