@fortawesome:registry=https://npm.fontawesome.com/
@justgoodadvice:registry=https://npm.pkg.github.com/
//npm.fontawesome.com/:_authToken=986A8668-85F6-42C2-AEED-F49691A82488
//npm.pkg.github.com/:_authToken=9ff9c0e7c3b86a47d6818d18620206458d356717