<script id="tmpl_adviceSetDetails" type="text/x-handlebars-template">
	<h2><a href="https://app.justgoodadvice.com/advicesets/{{advice._id}}/open-editor" target="_blank" class="text-body">{{advice.title}}</a></h2>
	<p class="lead">{{advice.description}}</p>
</script>