<script id="tmpl_assumptionsList" type="text/x-handlebars-template">
	<p class="p-2 mb-1">The assumptions below are being used to provide the personalized recommendations shown to the right. <br><strong><i class="far fa-hand-pointer"></i> Press an assumption to update your data.</strong></p>
	<ol class="list-unstyled">
		{{#each answers}}
			<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
				{{#if statement}}
					<div class="a statement"><a href="#" class="stretched-link">
						{{statement}}
					</a></div>
				{{else}}
					<div class="q">
						{{#if form.questionVariable}}
							<span class="text-monospace">{{form.questionVariable.name}}</span>&nbsp;&nbsp;&nbsp;
						{{else}}
							{{question}}
						{{/if}}
					</div>
					<div class="a"><a href="#" class="stretched-link">
						{{#if form.questionVariable}}
							{{form.questionVariable.result.value}}
						{{else}}
							{{value}}
						{{/if}}
					</a></div>
				{{/if}}
			</li>
		{{/each}}
	</ol>
</script>