<footer class="footer">
	<div class="container-fluid">
		<hr />
		<section>
			<p><a href="https://github.com/taffrail/showcase" target="_blank"><i class="fab fa-github"></i> Get the code</a>. <a href="mailto:hello@taffrail.com"><i class="fad fa-envelope-open"></i> hello@taffrail.com</a>. <br>Made with <i class="fad fa-coffee"></i> in Boulder, Colorado. &copy; <%= new Date().getFullYear() %> Taffrail, LLC.</p>
		</section>
	</div>
</footer>