<footer class="footer">
	<div class="container">
		<section>
			<p>
				<a href="https://github.com/JustGoodAdvice/showcase" target="_blank" class="pr-3"><i class="fal fa-code"></i> Get the code</a> 
				<a href="#" class="intercom_messenger_launcher pr-3"><i class="fal fa-life-ring"></i> Get support</a>
				<a href="mailto:hello@justgoodadvice.com"><i class="fal fa-envelope-open"></i> hello@justgoodadvice.com</a>
			<br>Made with <i class="fal fa-coffee"></i> in Boulder, Colorado. &copy; <%= new Date().getFullYear() %> Just Good Advice, LLC.</p>
		</section>
	</div>
</footer>