<script id="tmpl_error" type="text/x-handlebars-template">
  <div class="advice-primary">
    <div class="advice-on-this-page position-static"><h5>Oops!</h5></div>
    <header class="d-flex justify-content-between icon-row">
      <h4>{{error.title}}</h4>
    </header>
    <div><p>{{error.description}}</p></div>
  </div>
</script>
