<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Showcase</title>
    <link rel='stylesheet' href='/dist/css/main.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Showcase</p>
  </body>
</html>
