<div class="dropdown">
	<a class="btn btn-sm btn-light" href="#" role="button" id="dropdownMenuLink{{display.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="far fa-ellipsis-h"></i>
	</a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{display.id}}">
		<div class="dropdown-header">ADVICE BUILDER</div>
		<a href="https://app.justgoodadvice.com/advicesets/{{display.ruleSetId}}/rules/{{display.ruleId}}/show?selectedNodeId={{display.id}}" class="dropdown-item" target="_blank">
			<i class="fad fa-pencil"></i> Edit in Advice Builder
		</a>
		<a href="https://app.justgoodadvice.com/advicesets/{{adviceset._id}}/rules/{{display.ruleId}}/debug?{{adviceset._apiUrlQuery}}" class="dropdown-item" target="_blank">
			<i class="fad fa-debug"></i> Debug
		</a>
		<a href="https://app.justgoodadvice.com/_/advice/widget/{{adviceset.id}}/_/01111J/?{{adviceset._apiUrlQuery}}" class="dropdown-item"  target="_blank">
			<i class="fad fa-comments"></i> Classic
		</a>
		<div class="dropdown-divider"></div>
		<div class="dropdown-header">DEVELOPERS</div>
		<a href="{{adviceset.apiUrl}}" class="dropdown-item" target="_blank">
			<i class="fad fa-code"></i> Open API
		</a>
	</div>
</div>