<script id="tmpl_adviceSetDetails" type="text/x-handlebars-template">
	<h2><a href="https://app.justgoodadvice.com/advicesets/{{adviceset._id}}/open-editor" target="_blank" class="text-body">{{adviceset.title}}</a></h2>
	<p class="lead">{{adviceset.description}}</p>
</script>