<script id="tmpl_answersList" type="text/x-handlebars-template">
	<p class="p-2 mb-1">Change the answers below and your personalized advice will update immediately.</p>
	<ol class="answers">
		{{#each answers}}
			<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
				<div class="q">{{question}}</div>
				<div class="a"><a href="#" class="stretched-link">{{value}}</a></div>
			</li>
		{{/each}}
	</ol>
</script>