<script id="tmpl_answersList" type="text/x-handlebars-template">
	<ol class="answers">
		{{#each answers}}
			<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
				<div class="q">{{question}}</div>
				<div class="a"><a href="#" class="stretched-link">{{#if answer}}{{answer}}{{else}}{{value}}{{/if}}</a></div>
			</li>
		{{/each}}
	</ol>
</script>