<script id="tmpl_groupedRecommendationsAdviceList" type="text/x-handlebars-template">
	{{#if _recommendationsExist}}
		
		{{#each recommendations}}
			<div class="advice-group" id="group_{{@key}}">
				{{#if @first}}
					<header class="d-flex align-items-center justify-content-between">
						<div>
							<h5 class="mr-2 mb-0">
								<a data-toggle="collapse" href="#collapse_group_{{@index}}" role="button" aria-expanded="false"
									aria-controls="collapse_group_{{@index}}" class="group-toggler">
									{{@key}}
								</a>
							</h5>
						</div>
						<%- include("_dropdown"); %>
					</header>
				{{else}}
					<header>
						<h5>
							<a data-toggle="collapse" href="#collapse_group_{{@index}}" role="button" aria-expanded="false" aria-controls="collapse_group_{{@index}}" class="group-toggler">
								{{@key}}
							</a>
						</h5>
					</header>
				{{/if}}
				<div class="collapse show" id="collapse_group_{{@index}}">
					{{#if this.0.tagGroup.description}}
					<p class="">{{this.0.tagGroup.description}}</p>
					{{/if}}
					<ul class="advice-list recommendations fa-ul">
						{{#each this}}
							<li data-id="{{id}}" data-idx="{{idx}}" class="{{#if _isPrimary}}is-primary{{/if}} {{#unless summary}}no-summary{{/unless}}">
								<span class="{{#if _icon}}fa-li{{/if}} {{#unless summary}}no-summary{{/unless}} {{#if attachment}}show{{/if}}">
								{{#if summary}}
									<a data-toggle="collapse" href="#collapse_{{id}}" role="button" aria-expanded="false" aria-controls="collapse_{{id}}">
										{{#if _icon}}<i class="{{_icon}}"></i>{{/if}}
									</a>
								{{else}}
									{{#if _icon}}<i class="{{_icon}}"></i>{{/if}}
								{{/if}}
								</span>
								<a href="https://taffrail.app/advicesets/{{ruleSetId}}/rules/{{ruleId}}/show?selectedNodeId={{id}}{{#if audienceType}}&audienceId={{audienceType.id}}{{/if}}" target="_blank" class="headline">{{headline}}</a>
								{{#if summary}}
									<div class="collapse {{#if attachment}}show{{/if}}" id="collapse_{{id}}">
										{{#if attachment}}
											{{#if attachment._isInteractiveChart}}
												<section class="advice-attachment advice-chart--interactive" id="{{id}}_{{@index}}" data-id="{{attachment.id}}" data-src="{{attachment.url}}">
													<scr{{!}}ipt>
														var chartFrame = document.createElement('iframe');
														chartFrame.frameBorder = '0';
														chartFrame.scrolling = 'no';
														chartFrame.allowTransparency = 'true';
														chartFrame.allowFullscreen = 'true';
														chartFrame.width = '100%';
														chartFrame.height = '100%';
														document.getElementById('{{id}}_{{@index}}').appendChild(chartFrame);
													</scr{{!}}ipt>
												</section>
											{{else}}
												<section class="att">
													<figure>
														<img class="advice-attachment img-fluid" src="https://d1d53ugxmopqf1.cloudfront.net/fit-in/1000x563/filters:quality(75)/{{attachment.fileId}}">
													</figure>
												</section>
											{{/if}}
										{{/if}}
										<p class="summary">{{breaklines summary}}</p>
										{{#if actions.length}}
											<div class="mt-3">
												{{#each actions}}
													<div><a href="{{url}}" target="_blank" class="btn btn-outline-secondary">{{name}}</a></div>
												{{/each}}
											</div>
										{{/if}}
									</div>
								{{/if}}
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/each}}
		
	{{/if}}

	{{#if _referenceDocumentsExist}}
		<div class="advice-group references" id="group_references">
			<header><h5>References & Sources</h5></header>
			<div class="card-deck">
				{{#each adviceset.referenceDocuments}}
					<div class="card {{#if _hidden}}d-none{{/if}}">
						<div class="img-header">
							<div id="img_container_{{id}}" class="img-ph">
								<div class="ph-item mb-0">
									<div class="ph-col-12">
										<div class="ph-row">
											<div class="ph-picture"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="dropdown">
								<a href="#" class="dropdown-toggle text-dark" id="dropdownMenuButtonCard_{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fal fa-ellipsis-h"></i>
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCard_{{id}}">
									<a class="dropdown-item" href="https://taffrail.app/media/{{id}}/show" target="_blank"><i class="fal fa-pencil"></i>&nbsp;Edit in Advice Builder</a>
								</div>
							</div>	
						</div>
						<div class="card-body" {{#if body}}data-toggle="popover" title="{{name}}" data-content="{{body}}" data-trigger="hover" data-placement="right"{{/if}}>
							<h6 class="card-title">{{name}}</h6>
							<!--<p class="card-text text-sm">{{body}}</p>-->
							<div class="d-flex align-items-center justify-content-between">
								<a class="text-sm text-muted stretched-link source-url" href="{{url}}" target="_blank">{{#if _links.original_without_prefix}}{{_links.original_without_prefix}}{{else}}{{_links.original}}{{/if}}</a>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
			{{#if adviceset.referenceDocuments_hasMoreThanLimit}}
				<div><a href="#" class="btn btn-sm btn-light" data-action="showAllSources">Show all</a></div>
			{{/if}}
		</div>
	{{/if}}
</script>
