<script id="tmpl_variablesList" type="text/x-handlebars-template">
	{{#each variables}}
		<tr>
			<td>
				<a href="https://app.justgoodadvice.com/admin/dictionary?preloadId={{id}}" target="_blank" title="{{name}}">
					{{name}}
				</a>
			</td>
			<td class="text-right" title="{{value}}">
				{{#if valueFormatted}}
					{{valueFormatted}}
				{{else}}
					{{value}}
				{{/if}}
			</td>
		</tr>
	{{/each}}
</script>