<div class="bg-white px-2 pb-5 pt-1" style="min-height:593px;">
  <div data-controller="profile" data-profile-id-value="<%= locals.adviceSetId %>">

    <%- include("../loading"); %>

    <div class="advice"></div>

  </div>
</div>

<script id="tmpl_advice_profile" type="text/x-handlebars-template">

  <div class="mt-5">
    <div class="text-center w-75 m-auto">
      <h4 class="text-brand">{{display.headline}}</h4>
      <p>
        {{display.summary}}
      </p>
      
      <a href="/frb/goal-planning/start?budgetcreated=1" class="btn btn-block btn-outline-primary" data-goal-chooser><i class="fal fa-clipboard-list-check"></i> Choose goals</a>
    </div>
  </div>
</script>
