<!-- delete state when hitting start -->
<script>delete window.jga.api;</script>

<!--
  <h2>Invest in your future</h2>
<p>This app can assess your financial wellness and give you insights & recommendations to make your goals a reality.
</p>
-->
<div class="mb-2">
<img src="/img/frb/temp_start.png" width="100%" height="171.09">
</div>

<div class="goal-tiles list-group list-group-horizontal">
  <a href="/frb/goal-planning/goals/saveforhome" class="list-group-item list-group-item-action flex-fill">
    <i class="fal fa-home-alt"></i>
    <span>Save for a home</span>
  </a>
  <a href="/frb/goal-planning/goals/saveforretirement" class="list-group-item list-group-item-action flex-fill">
    <i class="fal fa-hand-holding-usd"></i>
    <span>Save for retirement</span>
</a>
  <a href="/frb/goal-planning/goals/paydowndebt" class="list-group-item list-group-item-action flex-fill">
    <i class="fal fa-funnel-dollar"></i>
    <span>Payoff debt</span>
  </a>
</div>
<div class="goal-tiles list-group list-group-horizontal bordered-top-0">
  <a href="#" class="list-group-item list-group-item-action disabled">
    <i class="fal fa-circle-notch"></i>
    <span>Other goal</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action disabled">
    <i class="fal fa-circle-notch"></i>
    <span>Other goal</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action disabled">
    <i class="fal fa-circle-notch"></i>
    <span>Other goal</span>
  </a>
</div>

<!--
<section class="mt-5">
<h5 class="text-brand">Our app, your future</h5>
<p>You've worked hard to get to where you are. But don't stop here. Check your financial fitness to look for more goals.</p>
<div class="list-group">
  <a href="/frb/goal-planning/goals/taffrail/JUWlttg90FD9fNGl-MxjoEM" class="list-group-item list-group-item-action"><i class="fal fa-bullseye-pointer"></i> Check your financial fitness</a>
</div>
</section>
-->
