<div class="dropdown">
	<a class="btn btn-sm btn-default" href="#" role="button" id="dropdownMenuLink{{display.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fal fa-ellipsis-h"></i>
	</a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{display.id}}">
		<div class="dropdown-header">SHARE</div>
		<a href="#" class="dropdown-item copy-url">
			<i class="fal fa-link"></i> Copy Link
		</a>
		<div class="dropdown-divider"></div>
		{{#if display}}
			<div class="dropdown-header">ADVICE BUILDER</div>
			<a href="https://app.justgoodadvice.com/advicesets/{{display.ruleSetId}}/rules/{{display.ruleId}}/show?selectedNodeId={{display.id}}" class="dropdown-item" target="_blank">
				<i class="fal fa-pencil"></i> Edit in Advice Builder
			</a>
			<a href="https://app.justgoodadvice.com/advicesets/{{adviceset._id}}/rules/{{display.ruleId}}/debug?{{paramsAsQueryStr}}" class="dropdown-item" target="_blank">
				<i class="fal fa-debug"></i> Debug
			</a>
			<div class="dropdown-divider"></div>
			<div class="dropdown-header">DEVELOPERS</div>
			<a href="{{_links.self}}" class="dropdown-item" target="_blank">
				<i class="fal fa-code"></i> Open API
			</a>
		{{else}}
			<a href="https://app.justgoodadvice.com/advicesets/{{../adviceset._id}}/rules/{{this.0.ruleId}}/debug?{{../paramsAsQueryStr}}" class="dropdown-item" target="_blank">
				<i class="fal fa-debug"></i> Debug
			</a>
			<a class="dropdown-item" href="#" data-expand="advice"><i class="fal fa-plus-square"></i> <span>Expand</span> Advice</a>
			<div class="dropdown-header">DEVELOPERS</div>
			<a href="{{../_links.self}}" class="dropdown-item" target="_blank">
				<i class="fal fa-code"></i> Open API
			</a>
		{{/if}}
	</div>
</div>