<script id="tmpl_assumptionsList" type="text/x-handlebars-template">
	<p class="mb-1">Change the assumptions below and your personalized advice will update immediately.</p>
	{{#if _answersExist}}
		<ol class="list-unstyled assumptions-list">
			{{#each assumptions.ungrouped}}
				<li data-id="{{id}}" data-idx="{{idx}}" class="qa position-relative">
					{{#if statement}}
						<div class="a statement"><a href="#" class="stretched-link">
							{{statement}}
						</a></div>
					{{else}}
						<div class="q">
							{{#if form.questionVariable}}
								<span class="text-monospace">{{form.questionVariable.name}}</span>&nbsp;&nbsp;&nbsp;
							{{else}}
								{{question}}
							{{/if}}
						</div>
						<div class="a"><a href="#" class="stretched-link">
							{{#if answer}}
								{{answer}}
							{{else}}
								{{value}}
							{{/if}}
						</a></div>
					{{/if}}
				</li>
			{{/each}}
		</ol>

		{{#each assumptions}}
			{{#ifNotEquals @key "ungrouped"}}
				<div class="assumption-group"><a data-toggle="collapse" href="#collapse_{{@index}}" role="button" aria-expanded="false" aria-controls="collapse_{{@index}}"><i class="fal fa-chevron-{{#if this.0._isOpen}}down{{else}}right{{/if}}"></i> {{@key}}</a></div>
				<ol class="list-unstyled assumptions-list collapse {{#if this.0._isOpen}}show{{/if}}" id="collapse_{{@index}}">
					{{#each this}}
						<li data-id="{{id}}" data-group-id="{{tagGroup.id}}" data-idx="{{idx}}" class="qa position-relative">
							{{#if statement}}
								<div class="a statement"><a href="#" class="stretched-link">
									{{statement}}
								</a></div>
							{{else}}
								<div class="q">
									{{#if form.questionVariable}}
										<span class="text-monospace">{{form.questionVariable.name}}</span>&nbsp;&nbsp;&nbsp;
									{{else}}
										{{question}}
									{{/if}}
								</div>
								<div class="a"><a href="#" class="stretched-link">
									{{#if answer}}
										{{answer}}
									{{else}}
										{{value}}
									{{/if}}
								</a></div>
							{{/if}}
						</li>
					{{/each}}
				</ol>
			{{/ifNotEquals}}
		{{/each}}
	{{/if}}
</script>