<script id="tmpl_adviceInputRequest" type="text/x-handlebars-template">
	<div class="continue screen-edge-padding">
		{{#unless display._isFirst}}
			<a href="#" class="btn btn-sm btn-outline-default" data-action="back"><i class="fal fa-chevron-left"></i></a>
		{{/unless}}
	</div>
	<div class="question screen-edge-padding mt-4">
		{{#if display._isFirst}}
			<div><p class="lead">{{adviceset.description}}</p></div>
		{{/if}}
		<header class="d-flex justify-content-between icon-row">
			{{#if display.explanation}}
				<div>
					<p class="lead">{{display.explanation}}</p>
					<h5>{{display.question}}</h5>
				</div>
			{{else}}
				<h5>{{display.question}}</h5>
			{{/if}}
			
			<%- include("_dropdown"); %>
		</header>
		
		<hr>
		<form data-id="{{display.id}}">

			<div class="form-group">

				{{#ifEquals display.form.fieldType "Radio"}}
				
					{{#each display.form.values}}
						<div class="form-check">
							<input type="radio" name="{{../display.form.name}}" value="{{value}}" id="{{id}}" class="form-check-input" required>
							<label class="form-check-label" for="{{id}}">{{label}}
							{{#if helpText}}
							<small class="form-text">{{helpText}}</small>
							{{/if}}
							</label>
						</div>
					{{/each}}

				{{/ifEquals}}

				{{#ifEquals display.form.fieldType "Boolean"}}

					<div class="form-check">
						<input type="radio" name="{{display.form.name}}" value="true" id="yes_{{display.id}}" class="form-check-input required">
						<label class="form-check-label" for="yes_{{display.id}}">Yes</label>
					</div>
					<div class="form-check">
						<input type="radio" name="{{display.form.name}}" value="false" id="no_{{display.id}}" class="form-check-input" required>
						<label class="form-check-label" for="no_{{display.id}}">No</label>
					</div>

				{{/ifEquals}}

				{{#ifEquals display.form.fieldType "Number"}}
				
					<input type="text" class="form-control" id="{{display.id}}" name="{{display.form.name}}" autocomplete="off" required>

				{{/ifEquals}}

				{{#ifEquals display.form.fieldType "Percent"}}
				
					<input type="text" class="form-control" id="{{display.id}}" name="{{display.form.name}}" data-type="{{display.form.fieldType}}" autocomplete="off" required>

				{{/ifEquals}}

			</div>

			{{#unless display._isLast}}
				<div class="continue">
					<button type="submit" data-id="{{display.id}}" class="btn btn-sm btn-primary">Next</button>
				</div>
			{{/unless}}
		</form>
	</div>
</script>