<script id="tmpl_answersList" type="text/x-handlebars-template">
	<ul class="list-unstyled screen-edge-padding">
		{{#each answers}}
			<li data-id="{{id}}" data-idx="{{idx}}" class="qa bubble from-them position-relative">
				{{question}}
			</li>
			<li data-id="{{id}}" data-idx="{{idx}}" class="qa bubble from-me position-relative">
				<span class="a"><a href="#" class="stretched-link">{{#if answer}}{{answer}}{{else}}{{value}}{{/if}}</a></span>
			</li>
		{{/each}}
	</ul>
</script>