<script id="tmpl_toast" type="text/x-handlebars-template">
	<div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" id="{{id}}">
		<div class="toast-header">
			<strong class="mr-auto">{{title}}</strong>
			{{#if time}}<small>{{time}}</small>{{/if}}
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">
			{{{message}}}
		</div>
	</div>
</script>