<li class="nav-item dropdown audience-switcher">
	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-microphone-alt"></i> <span class="active-voice">Voices</span></a>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="#" data-audience-id="-1"  data-action="set-audience">Default</a>
		<a class="dropdown-item" href="#" data-audience-id="rpJtvc8Jp" data-action="set-audience">Advisor</a>
	</div>
</li>